.suggestions-container {
	width: 75%;
	margin: 0 auto;
	position: absolute;
	display: block;
}

.suggestions input {
	border: none;
	width: 100%;
	color: #fff;
	font-size: 16px;
}

.suggestions input:first-child {
	margin-top: 5px;
}

.suggestions input:hover {
	cursor: pointer;
	background-color: green;
}

.suggestions {
	max-width: 65%;
	background-color: rgba(0,0,0,.9);
	text-align: left;
	float: right;
}

@media (max-width: 580px) { 
  
  .suggestions-container {
  	width: 90%;
  }

  .suggestions {
  	max-width: 100%;
  }
}
