.main {
  background-color: rgba(0,0,0,.7);
  height: 100vh;
  z-index: 999;
  padding-top: 45px;
  width: 100%;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.logo {
  max-width: 120px;
  position: absolute;
  float: left;
}

@media (max-width: 580px) {

  .logo{
    position: static;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .wrapper {
    width: 90%;
  }
}


